<div class="row">
  <div class="following w-100">
    <% @followings.each do |following| %>
      <div class="follower-item d-flex justify-content-start align-items-center gap-3 p-3">
        <% if following.avatar.attached? %>
          <%= cl_image_tag following.avatar.key, class: "avatar-large rounded-circle", alt: following.username, style: "width: 60px; height: 60px;" %>
        <% else %>
          <%= image_tag 'blank-profile.jpeg', class: "rounded-circle", style: "width: 60px; height: 60px;" %>
        <% end %>

        <%= link_to following.username, user_path(following), class: "no-style-link text-decoration-none text-dark" %>
      </div>
    <% end %>
  </div>
</div>
