<div class="d-flex justify-content-between align-items-center" style="font-size: 0.9rem;">
  <div data-controller="favorites" data-favorites-id-value="<%= post.id %>">
    <% if post.favorites.where(user: current_user).present? %>
      <i class="fa-solid fa-bookmark" data-action="click->favorites#toggleFavorite"></i>
    <% else %>
      <i class="fa-regular fa-bookmark" data-action="click->favorites#toggleFavorite"></i>
    <% end %>
  </div>
<div id="post-<%= post.id %>-likes" class="d-flex align-items-center" class="p-2 bd-highlight">
  <%= link_to '', post_post_likes_path(post),
    data: { turbo_method: 'post' },
    class: 'far fa-heart mx-2 fa-xs text-body',
    style: 'margin-top: -0.16rem;' %>
  <p class="small text-muted mb-0"><%= post.post_likes.count %></p>
  </div>
<div class="p-2 bd-highlight">
    <span>💬 comments</span>
</div>
</div>
