<div class="card mx-auto rounded-top" style="width: 24rem; border: none;">
  <%= render 'posts/partials/post_image', post: post %>
  <div class="card-body text-center">
    <%= render 'posts/partials/post_header', post: post %>
    <%= render 'posts/partials/post_content', post: post %>
    <%= render 'posts/partials/post_footer', post: post, current_user: current_user %>
  </div>
</div>
