<div class="card border-0 shadow-sm rounded bg-light">
  <div class="card-body p-4">
    <!-- Scrollable Comments List -->
    <div class="comments-list mb-3" style="max-height: 200px; overflow-y: auto;">
      <% comments.where(parent_id: nil).each do |comment| %>
          <%= render "posts/partials/toggle_comment", comment: comment %>
      <% end %>
    </div>
    <!-- New Comment Form -->
    <div>
      <%= form_with(model: [post, Comment.new], local: false, html: { class: "mt-2", id: "new-comment-form" }) do |f| %>
        <div class="mb-2">
          <%= f.text_area :content,
                          rows: 2,
                          class: "form-control",
                          placeholder: "Add a comment..." %>
        </div>
        <div>
          <%= f.submit "Comment", class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
