<div class="container p-4">
  <div class="row">
    <div class="col-12">
      <% if user_signed_in? %>
        <%= render "users/partials/profile_header" %>
        <div class="posts-list mt-4">
          <% @user.posts.each do |post| %>
              <%= link_to post_path(post), class: "text-decoration-none" do %>
                <%= render 'users/partials/my_profile_card', post: post, user: @user %>
              <% end %>
            <% end %>
          <% end %>
        </div>

    </div>
  </div>
</div>
