<div id="comment-form" class="comment-form">
  <%= form_with(model: [@post, @post.comments.new], local: false) do |f| %>
    <div class="field">
      <%= f.label :content, "Your Comment:" %>
      <%= f.text_area :content, rows: 3 %>
    </div>
    <div class="actions">
      <%= f.submit "Submit Comment" %>
    </div>
  <% end %>
</div>
