<div>
  <h4 class="card-title text-start"
      style="font-size: 1.1rem; font-weight: bold; color: #444; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
    <%= post.title %>
  </h4>

</div>
