<div class="col-12 col-md-6 mb-4">
  <div class="card mx-auto rounded-top border border-secondary shadow-sm" style="width: 100%;">
    <div class="d-flex h-100">
      <%= render 'users/partials/my_profile_image', post: post %>

      <div class="flex-grow-1 px-2 d-flex flex-column justify-content-between" style="height: 113px; overflow: hidden;">
        <%= render 'users/partials/my_profile_content', post: post %>
        <%= render 'users/partials/my_profile_footer', post: post, current_user: current_user %>
      </div>
    </div>
  </div>
</div>
