<div class="post-actions d-flex align-items-center">
  <% if post.user_id == current_user.id %>
      <%= link_to "Edit", edit_post_path(post), class: "btn btn-primary btn-sm" %>
      <%= form_with(url: post_path(post), method: :delete, data: { turbo: "true", confirm: "Are you sure you want to delete this post?" }) do |form| %>
        <%= form.submit "Delete", data: { turbo_action: "replace" }, class: "btn btn-primary btn-sm ms-2" %>
      <% end %>
  <% end %>
</div>
