

<div class="row mx-auto" style="width: 100vw;">
  <% if @post.pattern == false %>
    <%= render "posts/partials/show_post_card" %>
  <% else %>
    <%= render "posts/partials/show_pattern_card", post: @post%>
  <% end %>
  <%= turbo_frame_tag "comments" do %>
    <%= render partial: "shared/comments", locals: { comments: @post.comments, post: @post } %>
  <% end %>
</div>


<% if @post.pattern == false %>
  <% content_for :meta_title, "#{@post.title} is on #{DEFAULT_META["meta_product_name"]}" %>
  <% content_for :meta_description, @post.content %>
  <% content_for :meta_image, cl_image_path(@post.image.key) %>
<% else %>
  <% content_for :meta_title, "#{@post.title} is on #{DEFAULT_META["meta_product_name"]}" %>
  <% content_for :meta_description, @post.content %>
  <% content_for :meta_image, cl_image_path(@post.image.key) %>
<% end %>
