.image-container {
  position: relative;
}

.image-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 10px;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

pre {
  font-family: $body-font;
}
